.cell {
  box-sizing: border-box;
  border: 1px solid lightgray;
  margin: -0.5px;
  background-color: black;
  min-width: 1.9vmin;
  min-height: 1.9vmin;
  max-width: 5vmin;
  max-height: 5vmin;
  font-size: 1vmin;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.cell:hover {
  cursor: pointer;
}

.color-default {
  background-color: inherit;
}
.color-fibClearing {
  background-color: green;
}
.color-incrementing {
  background-color: yellow;
}
